
<%= select_tag "make", options_for_select(@makes), id: 'makes_select'%>


<%= form_for(@ad_holder) do |f| %>
  <% if @ad_holder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_holder.errors.count, "error") %> prohibited this ad_holder from being saved:</h2>

      <ul>
      <% @ad_holder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= select_tag :car_id, options_for_select(@vehicles.collect { |vehicle|
    [vehicle.year.to_s + vehicle.model, vehicle.id] }, 0), { id: 'models_select' } %>

  <%=f.fields_for :images do |builder|%>
    <div class="form-group">
      <%= builder.label :file %><br>
      <%= builder.file_field :file, class: "form-control" %>
    </div>
  <%end%>
  
  <div class="form-group">
    <%= f.label :holder_type %><br>
    <%= f.text_field :holder_type, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.text_field :address, id: "location", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :available %><br>
    <%= f.check_box :available, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success"%>
  </div>


<% end %>

