<h1>Listing ad_holders</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Price</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_holders.each do |ad_holder| %>
      <tr>
        <td><%= ad_holder.type %></td>
        <td><%= ad_holder.description %></td>
        <td><%= ad_holder.price %></td>
        <td><%= ad_holder.available %></td>
        <td><%= link_to 'Show', ad_holder %></td>
        <td><%= link_to 'Edit', edit_ad_holder_path(ad_holder) %></td>
        <td><%= link_to 'Destroy', ad_holder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad holder', new_ad_holder_path %>
